{
    "observable_host": "http://site.com",
    "generalConfig": {
        "req_total": 10,
        "req_per_sec": 1,
        "error_attempt": 3
    },
    "mailer": {
        "transport": {
          "service": "Gmail",
          "host" : "smtp.gmail.com",
          "port": 587,
          "secure": false,
          "auth": {
            "user": "username@mail.com",
            "pass": "password"
          }
        },
        "info": {
          "from": "support-system@mail.com",
          "to": "username2@mail.com",
          "cc": "username3@mail.com",
          "subject": "Subject of the mail",
          "text": "Content..."
        }
    },
    "scheduler": {
        "verifyHostStatus": {
          "everyday": {
            "to": "",
            "cc": "",
            "subject": "",
            "text": "",
            "state": "on",
            "hour": 1,
            "minute": 2
          },
          "everyhour": {
            "state": "off",
            "to": "",
            "cc": "",
            "subject": "",
            "text": ""
          },
          "everyminute": {
            "state": "off",
            "to": "",
            "cc": "",
            "subject": "",
            "text": ""
          }
        }
      }
}
