{
    "observable_host": "http://site.com",
    "generalConfig": {
        "req_total": 10,
        "req_per_sec": 1,
        "error_attempt": 3
    },
    "mailer": {
        "transport": {
          "service": "Gmail",
          "host" : "smtp.gmail.com",
          "port": 587,
          "secure": false,
          "auth": {
            "user": "username@mail.com",
            "pass": "password"
          }
        },
        "info": {
          "from": "support-system@mail.com",
          "to": "username2@mail.com",
          "cc": "username3@mail.com",
          "subject": "Subject of the mail",
          "text": "Content..."
        }
    },
    "scheduler": {
    "verifyHostStatus": {
      "everyday": [
          {
            "state": "on",
            "to": "some-new-username@mail.com",
            "cc": "some-new-username2@mail.com",
            "subject": "",
            "text": "",
            "hour": 9,
            "minute": 5
          },
          {
            "__comment__": "you can remove this block if it unnecessary, or leave with state=off",
            "__comment__": "you will be able to create events/blocks as much as you wish",
            "state": "off",
            "to": "",
            "cc": "",
            "subject": "",
            "text": "",
            "hour": 10,
            "minute": 11
          }
      ],
      "everyhour": {
        "state": "off",
        "to": "",
        "cc": "",
        "subject": "",
        "text": ""
      },
      "everyminute": {
        "state": "off",
        "to": "",
        "cc": "",
        "subject": "",
        "text": ""
      }
    }
    }
    "messages": {

    }
}
